body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(220, 220, 220, 0.5);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    background-color: white;
    height: auto;
    padding: 40px;
    border-radius: 50px;
    width: 500px;
    backdrop-filter: blur(7px) brightness(95%);
    box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    border: 2px solid rgba(255, 255, 255, .5);
}

.logo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img{
    width: 250px;
    height: auto;
    background-color: transparent;
}

h2{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 40px;
}

input {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    background-color: #eee8e8;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover{
    background-color: #cacaca;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px 0;
}

.footer p {
    color: #4a4a4a;
    font-size: 14px;
    margin: 0;
}

.open-modal {
    border: none;
    background-color: transparent;
    margin-top: 50px;
    color: #9f9f9f;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 0.9rem;
    transition: transform 0.5s ease;
}

.open-modal:hover {
    color: #3f85be;
    background-color: transparent;
    transform: scale(1.2);
}

.open-modal::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 5px;
    background-color: #3f85be;
    transition: width 0.3s ease;
}

.open-modal:hover::after {
    width: 100%;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

dialog {
    border: none;
    box-shadow: 0 0 30px black;
    padding: 3px 50px;
    border-radius: 24px;
    padding: 20px 20px 20px 20px;
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #c7aebf;
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
}

.modal-title{
    font-size: 1.7rem;
    color: #5e3a4a;
    text-align: center;
    display: flex;
    justify-content: center;
}

.close-modal{
    border: none;
    right: 20px;
    position: absolute;
    color: #5e3a4a;
    margin-bottom: 15px;
    background-color: #c7aebf;
    transition: transform 0.3s ease;
}

.close-modal:hover{
    background-color: #c7aebf;
    color: #5e3a4a;
    transform: scale(1.4);
}

.modal-body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group label{
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
}

.input-group input{
    margin-right: 10px;
    width: 550px;
    border-radius: 10px;
    font-size: 15px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.modal-footer button {
    background: #1E90FF;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.modal-footer button:hover {
    background: #1e6495;
}
