body{
    background-color: #f2f2f2;;
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    top: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 150px;
    box-shadow: 0 0 10px black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

#img{
    width: 130px;
    margin-left: 50px;
}

.links{
    display: flex;
    justify-content: center;
    flex: 1; 
    gap: 120px;
}

.links a {
    color: #8e6d86;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    position: relative;
}

.links a:not(.sair):not(.btnProdutos)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #8e6d86;
    transition: width 0.3s ease;
}

.links a:hover{
    transform: scale(1.1);
    border-radius: 40px;
    background-color: #dfdfdf;
}

.links a:not(.sair):not(.btnProdutos):hover::after {
    width: 100%;
}

.links a.sair {
    background: none !important;
    transform: none !important;
    transition: none !important;
}

.links a.btnProdutos{
    transform: scale(1);
    text-decoration: underline;
    border-radius: 40px;
    background-color: #dfdfdf;
    animation: suave 0.5s linear forwards;
}

@keyframes suave {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to{
        transform: scale(0.9);
        opacity: 1;
    }
}

.sair span{
    cursor: pointer;
    color: black;
    transition: transform 0.4s;
    transform: scale(1.1);
}

.sair span:hover{
    transform: scale(1.3);
    color: red;
}