body{
    background-color: #f2f2f2;;
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    top: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 150px;
    box-shadow: 0 0 10px black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

#img{
    width: 130px;
    margin-left: 50px;
}

.links{
    display: flex;
    justify-content: center;
    flex: 1; 
    gap: 120px;
}

.links a {
    color: #8e6d86;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    position: relative;
}

.links a:not(.sair):not(.btnAgendamentos)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #8e6d86;
    transition: width 0.3s ease;
}

.links a:hover{
    transform: scale(1.2);
    border-radius: 40px;
    background-color: #dfdfdf;
}

.links a:not(.sair):not(.btnAgendamentos):hover::after {
    width: 100%;
}

.links a.sair {
    background: none !important;
    transform: none !important;
    transition: none !important;
}


.links a.btnAgendamentos{
    transform: scale(1);
    text-decoration: underline;
    border-radius: 40px;
    background-color: #dfdfdf;
    animation: suave 0.5s linear forwards;
}

@keyframes suave {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to {
        transform: scale(0.9);
        opacity: 1;
    }
}

.sair i{
    cursor: pointer;
    color: black;
    transition: transform 0.4s;
    transform: scale(1.1);
}

.sair i:hover{
    transform: scale(1.3);
    color: red;
}

.title {
    margin-top: 100px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-align: center;
    color: #5e3a4a;
    font-weight: 700; 
    text-transform: uppercase;
    position: relative;
}


.title::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: #8e6d86;
    margin: 10px auto 0;
    border-radius: 2px;
}

.above-wrapper{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.btnHistorico {
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnHistorico a {
    display: inline-flex;
    align-items: center;
    color: #2e2e2e;
    font-size: 1.1rem;
    background: linear-gradient(135deg, #f2f2f2, #d8d8d8);
    padding: 12px 45px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease;
}

.btnHistorico a:hover {
    background: linear-gradient(to right, #ffffff, #d9d9d9);
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
}

.btnHistorico span {
    margin-right: 5px;
}

.input-box{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 5px;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
}

input {
    width: 400px;
    height: 25px;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 1.1rem;
}

input::placeholder {
    font-size: 0.9rem;
}

.wrapper {
    width: 95%;
    margin-top: 15px;
    box-sizing: border-box;
    background-color: #e4e4e4;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    text-align: center;
}

.content-wrapper {
    padding: 20px 30px;
}

.title-wrapper {
    display: inline-block;
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #333;
    letter-spacing: 1px;
    background-color: #c7c7c783;
    padding: 10px 20px;
    border-radius: 30px;
}

th{
    border-radius: 5px;
    padding: 20px 20px;
    background-color: #c7aebf;
    font-size: 1.1rem;
}

td{
    text-align: center;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #f8f3f7;
}

td span {
    cursor: pointer;
    transition: transform 0.2s ease;
}


td span:hover{
    color: #1E90FF;
    transform: translateY(-3px) scale(1.3);
}

td button{
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.5s ease;
    color: #1f1f1f;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

td button:hover {
    color: #1E90FF;
    background-color: #75b0ec67;
    border-radius: 10px;
    padding: 7px 7px;
    transform: scale(1.2);
}

.footer {
    margin-top: 100px;
    width: 100%;
    padding: 20px 0px;
    background: linear-gradient(to right, #bc9ff0, #64b5f6);
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
}

