body{
    background-color: #f2f2f2;;
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    top: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 150px;
    box-shadow: 0 0 10px black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

#img{
    width: 130px;
    margin-left: 50px;
}

.links{
    display: flex;
    justify-content: center;
    flex: 1; 
    gap: 120px;
}

.links a {
    color: #8e6d86;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    position: relative;
}

.links a:not(.sair):not(.btnHome)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #8e6d86;
    transition: width 0.3s ease;
}

.links a:hover{
    transform: scale(1.2);
    border-radius: 40px;
    background-color: #dfdfdf;
}

.links a:not(.sair):not(.btnHome):hover::after {
    width: 100%;
}

.links a.sair {
    background: none !important;
    transform: none !important;
    transition: none !important;
}

.links a.btnHome{
    transform: scale(1);
    text-decoration: underline;
    border-radius: 40px;
    background-color: #dfdfdf;
    animation: suave 0.5s linear forwards;
}

@keyframes suave {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to{
        transform: scale(0.9);
        opacity: 1;
    }
}

.sair span{
    cursor: pointer;
    color: black;
    transition: transform 0.4s;
    transform: scale(1.1);
}

.sair span:hover{
    transform: scale(1.3);
    color: red;
}

.title {
    margin-top: 100px; 
    font-size: 40px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5e3a4a;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.1); 
    line-height: 1.2;
    border-radius: 40px;
    background-color: #dfdfdf;
    padding: 10px 10px;
}

.new-agend {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    background-color: #f8f3f7;
    cursor: pointer;
    color: #1E90FF;
    border-radius: 40px;
    padding: 24px 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: transform 0.3s ease;
    border: 1px solid #d8d8d8;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
}

.new-agend:hover {
    background: linear-gradient(135deg, #ffffff, #c7aebf);
    color: #0b63ce;
    transform: scale(1.05);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.new-agend span {
    font-size: 1.7rem;
}

.wrapper1{
    margin-top: 30px;
    width: 1200px;
    height: 500px;
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.data-home{
    margin-left: 10px;
    font-weight: bold;
    color: #4a4a4a;
}

.tipo1,
.tipo2{
    display: flex;
    align-items:flex-start;
    width: 100%;
    background-color: #c7aebf;
    border-radius: 10px;
    padding: 6px 10px;
    margin-bottom: 10px;
}

.tipo1 span{
    font-size: 2rem;
    margin-top: 13px;
    color:#5e3a4a;
    padding: 0 10px;
}

.tipo2 span{
    font-size: 2rem;
    margin-top: 13px;
    color:#5e3a4a;
    padding: 0 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #5e3a4a;
}

.data-home {
    font-weight: 500;
    font-size: 1.2rem;
    color: #8e6d86;
}

.agenda {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.agendamento {
    display: flex;
    background-color: #f8f3f7;
    padding: 15px 20px;
    border-radius: 10px;
    align-items: center;
}

.hora {
    font-weight: 700;
    color: #5e3a4a;
    width: 80px;
    text-align: center;
    margin-right: 20px;
}

.detalhes .consulta {
    font-weight: 600;
    color: #5e3a4a;
}

.detalhes .paciente,
.detalhes .profissional {
    font-size: 1rem;
    color: #7a7a7a;
}

.wrapper2{
    margin-top: 30px;
    width: 1200px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
}

.tipo2 span{
    
}

li {
    padding: 12px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
    font-size: 1rem;
}

hr {
    margin-right: 30px;
}

.link1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.link1 a {
    display: inline-flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-size: 0.9rem;
    background-color: #cfcece;
    padding: 12px 20px;
    border-radius: 30px;
    transition: transform 0.5s ease;
}

.link1 a:hover{
    color: white;
    background-color: #1E90FF;
    transform: scale(1.1);
    box-shadow: 0 0 5px black;
}

.link1 i {
    margin-left: 5px;
    font-size: 1.2rem;
}

.footer {
    margin-top: 100px;
    width: 100%;
    padding: 20px 0px;
    background: linear-gradient(to right, #bc9ff0, #64b5f6);
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
}
